/* body {
	font-family: 'Merriweather', sans-serif;
	
}

h1 {
	text-align: center;
	
}

nav ul {
	background-color: #FFFF6E;
	text-align: center;
	list-style: none;
	border-radius: 10px;  
	position: relative;
	text-align: center;
}

nav ul  li {
	padding: 0 20px;
	display: inline-table;
	
} */
 
/* #sub-menu {
	display: none;
	border-radius: 0px; 
	padding: 0;
	position: absolute; 
	top: 100%;
} */

nav ul li:hover #sub-menu {
	display: inline;
	background-color: #FFFF6E;
}

input {
	margin: 10px;

	
}

	
