/**********************************/
/* Main formatting
/*********************************/

body {
	font-family: 'Merriweather', serif;
}

h1 {
	text-align: center;
	
}

/*******************************/
/* Drop-down menu
/*******************************/

nav > ul {
	background-color: #FFFF6E;
	text-align: center;
	list-style: none;
	border-radius: 10px;  
	position: relative;
	text-align: center;
}

nav ul  li {
	padding: 0 20px;
	display: inline-table;
	
}
 
nav ul ul{
	display: none;
	border-radius: 0px; 
	padding: 0;
	position: absolute; 
	top: 100%;
}

nav li:hover ul {
	display: block;
	background-color: #FFFF6E;
}

/* why is this needed to get block display? */

nav ul li:hover ul li {
	display: block;
}

a:link{
	text-decoration: none;
}

a:visited {
	color: #000;
}

/* fix this, random words turning colors */
a:hover {
	color: #a92;
	
}



/**************************/
/* Input fields
/**************************/


input {
	margin: 10px;
}

