{% extends "main_template.html" %}

{% block title %}Add Donor{% endblock %}


{% block head %}Add Donor{% endblock %}


{% block content %}
<br>
<br>
<br>
<form action="">
<input type="text" name="fund" value="" placeholder="Fund">
<input type="text" name="don_type" value="" placeholder="Donation Type">
<input type="text" name="don_amt" value="" placeholder="Donation Amount">
<input type="text" name="don_date" value="" placeholder="Donation Date (dd/mm/yyyy)">
<button type="submit">Submit</button>
</form>


{% endblock %}
