{% extends "main_template.html" %}

{% block title %}Add Staff Member{% endblock %}


{% block head %}Add Staff Member{% endblock %}


{% block content %}
<br>
<br>
<br>
<form action="">
<input type="text" name="title" value="" placeholder="Title">
<input type="text" name="date_active" value="" placeholder="Date Active">
<input type="text" name="staff_code" value="" placeholder="Staff Code">
<input type="text" name="interest" value="" placeholder="Interest">
<input type="text" name="skill" value="" placeholder="Skill">
<button type="submit">Submit</button>
</form>


{% endblock %}
