<!doctype html>
	<head>
		<link href='https://fonts.googleapis.com/css?family=Crete+Round|Noto+Serif|Merriweather' rel='stylesheet' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="static/style.css">
		<title>LLH CRM || {% block title %}{% endblock %}</title>
	</head>
	<body>
	<h1>{% block head %}{% endblock %}</h1>
	<nav>
		<ul>
			<li>Constituent
			<ul>
				<li><a href="add_const.html">Add<a/></li>
				<li>View</li>
				<li>Edit</li>
			</ul></li>
			<li>Member
			<ul>
				<li>Add</li>
				<li>View</li>
				<li>Edit</li>
			</ul></li>
			<li>Staff
			<ul>
				<li>Add</li>
				<li>View</li>
				<li>Edit</li>
			</ul></li>
			<li>Board Member
			<ul>
				<li>Add</li>
				<li>View</li>
				<li>Edit</li>
			</ul></li>
			<li>Donor
			<ul>
				<li>Add</li>
				<li>View</li>
				<li>Edit</li>
			</ul></li>
			<li>Agency
			<ul>
				<li>Add</li>
				<li>View</li>
				<li>Edit</li>
			</ul></li>
		</ul>
	</nav>
	{% block content %}
	{% endblock %}
	</body>
</html>