<!doctype html>
<!doctype html>
	<head>
		<link rel="stylesheet" type="text/css" href="style.css">
		<title>LLH CRM || Home Page</title>
	<h1>Welcome to the LLH CRM</h1>
	<nav>
		<ul>
			<li>Constituent</li>
			<ul>
				<li>Add</li>
				<li>View</li>
				<li>Edit</li>
			</ul>
			<li>Member</li>
			<ul>
				<li>Add</li>
				<li>View</li>
				<li>Edit</li>
			</ul>
			<li>Staff</li>
			<ul>
				<li>Add</li>
				<li>View</li>
				<li>Edit</li>
			</ul>
			<li>Board Member</li>
			<ul>
				<li>Add</li>
				<li>View</li>
				<li>Edit</li>
			</ul>
			<li>Donor</li>
			<ul>
				<li>Add</li>
				<li>View</li>
				<li>Edit</li>
			</ul>
			<li>Agency</li>
			<ul>
				<li>Add</li>
				<li>View</li>
				<li>Edit</li>
			</ul>
		</ul>
	</nav>
	</head>
	<body>
	</body>
</html>